.DS_Store
JumpingJackApp/JumpingJackApp.xcodeproj/project.xcworkspace/xcuserdata
JumpingJackApp/JumpingJackApp.xcodeproj/xcuserdata/adamsmekal.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
JumpingJackApp/JumpingJackApp.xcodeproj/xcuserdata
JumpingJackApp/JumpingJackApp.xcodeproj/project.xcworkspace/xcshareddata
